body {
    margin: 0 auto;
}

div {
    display: block;
    text-align: center;
    margin: 50px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    width: 150px;
    height: 60px;
    background-color: brown;
    border-radius: 25px;
    color: floralwhite;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}

button:hover {
    background-color: rgb(145, 70, 70);
}