body {
  margin: 0 auto;
  max-width: 100%;
  background-image: url(./assets/Screenshot_11-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

div {
  color: white;
}

div img {
  width: 18px;
  height: 18px;
  padding: 0 5px;
}

div span {
  color: gray;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  box-sizing: border-box;
  padding: 40px 20px 20px;
  border-radius: 5px;
  border: 2px solid rgba(18, 20, 20, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  margin: 20px auto;
  position: relative;
  background: linear-gradient(to bottom, #000, #334);
  font-family: sans-serif;
}

.card h3 {
  color: gray;
  font-size: 24px;
  line-height: 45px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.card p {
  color: white;
}

.card__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid rgb(46, 46, 161);
  outline: none;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  filter: brightness(0.9);
}

.card__btn:hover {
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.6);
  filter: brightness(1);
}

.card__btn:active {
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0);
}

.card__edit {
  right: 52px;
  background-color: black;
  background-image: url("./assets/pencil.png");
}

.card__delete {
  background-color: black;
  background-image: url("./assets/delete.png");
}

.lds-facebook {
  display: flex;
  margin-left: 50vw;
  margin-top: 50vh;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: flex;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(170, 10, 117);
  animation: lds-facebook 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}